
.bio.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    margin: 2rem;
    padding-top: 3rem;
  }

  .bio-content {
    width: 70%; 
    align-items: center;
    max-height: 100%;
  }
  
  /* .bio-description {
    margin-bottom: 40px;
  }
   */
  .bio-photo {
    width: 100%; 
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;
  }
  

  @media (max-width: 768px) {  
    .bio-content {
        width: 90%;
        margin-bottom: 40px;
    }
  }

  @media (min-width: 1200px) {
    .bio-content {
      width: 45%;
    } 
  }