
.bio-photo {
  width: 100%; 
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.bio.content a {
  color:inherit;
}
/* .bio.container {
    in index.css
    } */
    
/* .bio.content {
  in index.css
} */

/* 
@media (max-width: 768px) {  
  .bio.content {
      width: 90%;
      margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .bio.content {
    width: 50%;
  } 
} */