.dates.content a {
  color: inherit;
}

/* .dates.container {
    in index.css
} */

/* .dates.content {
  margin: 0 auto;
  width: 70%;
} */

/* @media (max-width: 768px) {  
    .dates.content {
        width: 100%;
        margin-bottom: 40px;
    }
  }


@media (min-width: 1024px) {
  .dates.content {
    width: 50%;
  } 
} */