.dates.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
    padding-top: 3rem;
}

.dates-content {
    width: 100%; 
    align-items: center;
    max-height: 100%;
}

@media (max-width: 768px) {  
    .dates-content {
        width: 100%;
        margin-bottom: 40px;
    }
  }


@media (min-width: 1024px) {
  .dates-content {
    width: 50%;
  } 
}