

.filters {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 2rem;
    gap: 2rem;
    z-index: 3;
}

.filter-button {
    margin: 1rem 0.7rem;
    gap: 0;
    border: none;
    background: none;
    cursor: pointer;
    align-items: center;
}

.filter-button.active {
    background-color: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.title {
    margin-bottom: 0.1em;
}

.subtitle {
    margin-top: 0;
    /*font-style: italic;*/
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 4rem;
    max-width: 100%;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    padding: 2rem;
}

.grid-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    object-fit: contain;
    transition: opacity 0.5s, transform 0.5s;
    /*border: 3px solid hotpink;*/
    opacity: 1;
}

.grid-item.dimmed {
    opacity: 0.6;
    pointer-events: none;
}

.grid-content {
    overflow: hidden;
    
}

.grid-item-text {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; 
    width: 90%;
    transition: opacity 0.5s;   
}

/*incoming from styles*/
/*we had moved this to only hover devices not sure why it's back here, leaving it in case it was intentional*/
.grid-item:hover .grid-item-text {
    opacity: 0;
}
/*incoming end*/

.grid-item-image {
    opacity: 0;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    position: absolute;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 70%;*/
    height: 80%;
    transition: opacity 0.5s;
}

.grid-item.highlight .grid-item-image.visible {
    opacity: 1;
}

.grid-item-image.hidden {
    opacity: 0;    
}

.grid-item-text.dimmed {
    opacity: 0.6;
}

.grid-item-image.fade-in {
    animation: fadeIn 0.5s ease-in;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media (hover: hover) {
    /* targets only devices that can hover */
    .grid-item:hover .grid-item-text {
        opacity: 0;
    }
    
    .grid-item:hover .grid-item-image.hidden {
        opacity: 1;
    }
}


@media (min-width: 1200px) {
    .grid {
      grid-template-columns: repeat(6, 1fr); /* 6 cells per row for wide screens */
      /*height: calc(100% - 10rem * 2);*/
    }    
}

@media (max-width: 768px) {

    .grid {
        /* width: calc(100% - 30px); */
        grid-template-columns: repeat(2, 1fr);
        width: calc(100% - 2rem);
        margin-left: 0;
        padding: 1rem;
        gap: 2rem;
    }

    .grid-item-image {
        width: 95%;
        height: 95%;
    }
    
    .filters {
        width: 100%;
        top: 2.5rem;
        right: auto;
        flex-wrap: wrap;
    }
    /* override iOS style sheet*/
    .filter-button {
        color: black;
        margin: 0;
    }
}
