.lovelist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.lovelist-content {
    max-width: 50%; 
    width: 100%; 
    align-items: center;
    max-height: 100%;
}