/* .lovelist.container {
    in index.css
} */

/* .lovelist.content {
    margin: 0 auto;
    width: 70%;
} */

/* @media (max-width: 768px) {  
    .lovelist.content {
        width: 90%;
        margin-bottom: 40px;
    }
}

@media (min-width: 1024px) {
  .lovelist.content {
    width: 50%;
  } 
} */