.lovelist.container {
    display: block;
    text-align: center;
    margin: 30px;
    height: auto;
}

.lovelist-content {
    width: 50%; 
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {  
    .lovelist-content {
        width: 90%;
        margin-bottom: 40px;
    }
  }

  @media (min-width: 1024px) {
    .lovelist-content {
      width: 40%;
    } 
  }