* {
  font-family: "Krub", serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
    background-color: #FFFCFA;
    color: #F21C0A;
  }

  .title {
    font-weight: 600;
    font-style: normal;
    font-size: 0.85em;
  }

  .subtitle {
    font-weight: 500;
    font-style: normal;
    font-size: 0.8em;
  }

  p {
    font-weight: 500;
    font-style: normal;
    font-size: 0.8em;
  }

  button {
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
  }

  /* page animation */ 

  .container {
    transition: opacity 0.6s;
  }

  .mount {
    opacity: 1;
  }
  
  .unmount {
    opacity: 0;
  }

  
  