body {
    background-color: #FFFCFA;
    font-family: "Krub", serif;
    color: #F21C0A;
    font-size: 100%;
    line-height: 1.3;
  }

  .title {
    font-weight: 600;
    font-style: normal;
    font-size: 0.8em;
    margin-bottom: 0.4em;
  }

  .subtitle {
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
  }

  .nav-links li {
    margin: 0 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
  }

  p {
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
  }

  