  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fffcfa7a;
    backdrop-filter: blur(4px);
    z-index: 1000;
    overflow: hidden;
  }
  
  .modal-content {
    --pad: 40px; /*see media width for desktop 80px */
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    padding: var(--pad);
    width: calc(100% - var(--pad) * 2); /* substract padding */
    height: calc(100% - var(--pad) * 2); /* substract padding */  
    margin: auto; /* centers itself horizontally */
  }

  /* modal gallery */
  .modal-gallery {
    padding: 10px;
    width: calc(40% - 10px * 2); /* substract padding */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-gallery img {
    max-width: 100%;
    object-fit: contain;
    box-shadow: 0 0 20px 1px #FFFCFA;
  }

  .nav-button {
    position: absolute;
    background: none;
    color: #F21C0A;
    border: none;
    cursor: pointer;
  }
  .nav-button.left {
    left: 10px;
    /* transform: translateX(-20px); */
  }
  .nav-button.right {
    right: 10px;
    /* transform: translateX(20px); */
  }
  
  /* model info */ 
  .modal-info {
    padding: 10px;
    width: calc(60% - 10px * 2);  /* substract padding */
    height: calc(100% - 10px * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 0 10px #FFFCFA;
  }
  
  .modal-info a {
    margin-top: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    color: #F21C0A;
  }
  
  .close-button {  
    margin-top: 20px;
    background: none;
    color: #F21C0A;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }

  @media (min-width: 768px) {
       
    .modal-content {
      --pad: 100px;
      max-width: 50%;
    }
      
    .description {
        overflow-y: scroll;
        max-height: 600px;
        scrollbar-width: thin;
        scrollbar-color: currentColor transparent;
    }

    .description > div {
      padding-right: 20px;
    }

    .close-button {  
      text-align: left;
    }
  } 

  @media (max-width: 768px) {

    .modal-overlay {
      overflow: auto;
    }

    .modal-content {
      overflow-y: scroll;
      padding: 20px;
      height: auto; 
      text-align: center;   
    }

    .modal-gallery {
      width: 100%;
      margin: 10% 15%;
    }

    .nav-button.left {
      transform: translateX(-40px);
    }

    .nav-button.right {
      transform: translateX(40px);
    }

    .modal-info {
      width: 100%;
    }

  }



 