.navbar {
  width: 30px;
  position: fixed;
  top: 10px;
  bottom: 0;
  right: 0;
  padding: 10px 0;
  writing-mode: vertical-rl;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}



.inactive-link {
  text-decoration: none;
  color: #C5B4A6;
}

.active-link {
  color:#c5a6a6;
  text-decoration: none;
  font-weight: 600;
}

