.navbar {
  width: 30px;
  position: fixed;
  top: 15px;
  bottom: 0;
  right: 0;
  writing-mode: vertical-rl;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85em;
}

.inactive-link {
  text-decoration: none;
  color: #000000;
}

.active-link {
  color:#000000;
  text-decoration: none;
  font-weight: 600;
}

